In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

print("Бібліотеки імпортовано успішно!")

Бібліотеки імпортовано успішно!

In [2]:
try:
    df = pd.read_csv('results.csv')
    print(f"Дані завантажено успішно!")
    print(f"Розмір датасету: {df.shape}")
    print(f"\nПерші 5 рядків:")
    print(df.head())
    print(f"\nІнформація про стовпці:")
    print(df.info())
except FileNotFoundError:
    print("ПОМИЛКА: Файл results.csv не знайдено!")
    print("Будь ласка, завантажте файл у Colab перед виконанням цього блоку")

Дані завантажено успішно!
Розмір датасету: (47598, 9)

Перші 5 рядків:
         date home_team away_team  home_score  away_score tournament     city  \
0  1872-11-30  Scotland   England           0           0   Friendly  Glasgow
1  1873-03-08   England  Scotland           4           2   Friendly   London
2  1874-03-07  Scotland   England           2           1   Friendly  Glasgow
3  1875-03-06   England  Scotland           2           2   Friendly   London
4  1876-03-04  Scotland   England           3           0   Friendly  Glasgow

    country  neutral
0  Scotland    False
1   England    False
2  Scotland    False
3   England    False
4  Scotland    False

Інформація про стовпці:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47598 entries, 0 to 47597
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        47598 non-null  object
 1   home_team   47598 non-null  object
 2   away_team   47598 non-null  object
 3   home_score  47598 non-null  int64
 4   away_score  47598 non-null  int64
 5   tournament  47598 non-null  object
 6   city        47598 non-null  object
 7   country     47598 non-null  object
 8   neutral     47598 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 3.0+ MB
None

In [3]:
print("=" * 60)
print("ПИТАННЯ 1: Скільки матчів зіграно командами")
print("=" * 60)

# Німеччина
germany_home = df[df['home_team'] == 'Germany'].shape[0]
germany_away = df[df['away_team'] == 'Germany'].shape[0]
germany_total = germany_home + germany_away

print(f"\nНімеччина:")
print(f"  Матчів вдома: {germany_home}")
print(f"  Матчів на виїзді: {germany_away}")
print(f"  Всього матчів: {germany_total}")

# Україна
ukraine_home = df[df['home_team'] == 'Ukraine'].shape[0]
ukraine_away = df[df['away_team'] == 'Ukraine'].shape[0]
ukraine_total = ukraine_home + ukraine_away

print(f"\nУкраїна:")
print(f"  Матчів вдома: {ukraine_home}")
print(f"  Матчів на виїзді: {ukraine_away}")
print(f"  Всього матчів: {ukraine_total}")

============================================================
ПИТАННЯ 1: Скільки матчів зіграно командами
============================================================

Німеччина:
  Матчів вдома: 543
  Матчів на виїзді: 467
  Всього матчів: 1010

Україна:
  Матчів вдома: 155
  Матчів на виїзді: 165
  Всього матчів: 320

In [4]:
print("\n" + "=" * 60)
print("ПИТАННЯ 2: Скільки матчів зіграно в містах")
print("=" * 60)

# Київ
kyiv_matches = df[df['city'] == 'Kyiv'].shape[0]
print(f"\nКиїв: {kyiv_matches} матчів")

# Лондон
london_matches = df[df['city'] == 'London'].shape[0]
print(f"Лондон: {london_matches} матчів")

============================================================
ПИТАННЯ 2: Скільки матчів зіграно в містах
============================================================

Київ: 97 матчів
Лондон: 428 матчів

In [5]:
print("\n" + "=" * 60)
print("ПИТАННЯ 3: Топ-10 команд за голами вдома")
print("=" * 60)

# Групуємо по домашній команді та сумуємо голи
home_goals = df.groupby('home_team')['home_score'].sum().sort_values(ascending=False)
top10_home = home_goals.head(10)

print("\nТоп-10 команд за кількістю голів вдома:")
for i, (team, goals) in enumerate(top10_home.items(), 1):
    print(f"{i:2d}. {team:20s} - {int(goals):5d} голів")

============================================================
ПИТАННЯ 3: Топ-10 команд за голами вдома
============================================================

Топ-10 команд за кількістю голів вдома:
 1. Brazil               -  1484 голів
 2. Germany              -  1337 голів
 3. Argentina            -  1321 голів
 4. England              -  1230 голів
 5. Sweden               -  1207 голів
 6. Mexico               -  1179 голів
 7. Hungary              -  1118 голів
 8. South Korea          -  1099 голів
 9. Netherlands          -  1091 голів
10. France               -  1080 голів

In [6]:
print("\n" + "=" * 60)
print("ПИТАННЯ 4: Топ-10 команд за голами за весь час")
print("=" * 60)

# Голи вдома
home_total = df.groupby('home_team')['home_score'].sum()

# Голи на виїзді
away_total = df.groupby('away_team')['away_score'].sum()

# Об'єднуємо та сумуємо всі голи
all_teams = set(home_total.index) | set(away_total.index)
total_goals = {}

for team in all_teams:
    home = home_total.get(team, 0)
    away = away_total.get(team, 0)
    total_goals[team] = home + away

# Сортуємо та беремо топ-10
total_goals_sorted = pd.Series(total_goals).sort_values(ascending=False)
top10_total = total_goals_sorted.head(10)

print("\nТоп-10 команд за загальною кількістю голів:")
for i, (team, goals) in enumerate(top10_total.items(), 1):
    print(f"{i:2d}. {team:20s} - {int(goals):5d} голів")

============================================================
ПИТАННЯ 4: Топ-10 команд за голами за весь час
============================================================

Топ-10 команд за загальною кількістю голів:
 1. England              -  2338 голів
 2. Brazil               -  2270 голів
 3. Germany              -  2257 голів
 4. Sweden               -  2117 голів
 5. Hungary              -  1984 голів
 6. Argentina            -  1981 голів
 7. Netherlands          -  1773 голів
 8. South Korea          -  1764 голів
 9. Mexico               -  1726 голів
10. France               -  1649 голів

In [7]:
print("\n" + "=" * 60)
print("ПИТАННЯ 5: Середній бал команд (Топ-10)")
print("=" * 60)

# Середній бал вдома
home_avg = df.groupby('home_team')['home_score'].mean()
home_count = df.groupby('home_team').size()

# Середній бал на виїзді
away_avg = df.groupby('away_team')['away_score'].mean()
away_count = df.groupby('away_team').size()

# Обчислюємо зважений середній бал
all_teams = set(home_avg.index) | set(away_avg.index)
avg_scores = {}

for team in all_teams:
    h_avg = home_avg.get(team, 0)
    h_cnt = home_count.get(team, 0)
    a_avg = away_avg.get(team, 0)
    a_cnt = away_count.get(team, 0)

    total_goals = h_avg * h_cnt + a_avg * a_cnt
    total_matches = h_cnt + a_cnt

    if total_matches > 0:
        avg_scores[team] = total_goals / total_matches

# Сортуємо та беремо топ-10
avg_scores_sorted = pd.Series(avg_scores).sort_values(ascending=False)
top10_avg = avg_scores_sorted.head(10)

print("\nТоп-10 команд за середнім балом за матч:")
for i, (team, avg) in enumerate(top10_avg.items(), 1):
    print(f"{i:2d}. {team:20s} - {avg:.2f} голів/матч")

============================================================
ПИТАННЯ 5: Середній бал команд (Топ-10)
============================================================

Топ-10 команд за середнім балом за матч:
 1. Elba Island          - 5.00 голів/матч
 2. Yorkshire            - 3.86 голів/матч
 3. Parishes of Jersey   - 3.67 голів/матч
 4. Cascadia             - 3.29 голів/матч
 5. Occitania            - 3.12 голів/матч
 6. Sápmi                - 3.10 голів/матч
 7. Isle of Man          - 3.08 голів/матч
 8. Silesia              - 3.00 голів/матч
 9. Asturias             - 3.00 голів/матч
10. Surrey               - 3.00 голів/матч

In [8]:
print("\n" + "=" * 60)
print("ЗАВДАННЯ 2: Операції JOIN")
print("=" * 60)

# DataFrame 1: Employees
employees_data = {
    'employee_id': [1, 2, 3, 4, 5, 6],
    'name': ['John', 'Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'department': ['IT', 'HR', 'IT', 'Sales', 'IT', 'HR']
}
employees_df = pd.DataFrame(employees_data)

print("\nEmployees DataFrame:")
print(employees_df)

# DataFrame 2: Projects
projects_data = {
    'project_id': [101, 102, 103, 104, 105],
    'project_name': ['Alpha', 'Beta', 'Gamma', 'Delta', 'Epsilon'],
    'employee_id': [1, 2, 3, None, 1]
}
projects_df = pd.DataFrame(projects_data)

print("\nProjects DataFrame:")
print(projects_df)

============================================================
ЗАВДАННЯ 2: Операції JOIN
============================================================

Employees DataFrame:
   employee_id     name department
0            1     John         IT
1            2    Alice         HR
2            3      Bob         IT
3            4  Charlie      Sales
4            5    Diana         IT
5            6      Eve         HR

Projects DataFrame:
   project_id project_name  employee_id
0         101        Alpha          1.0
1         102         Beta          2.0
2         103        Gamma          3.0
3         104        Delta          NaN
4         105      Epsilon          1.0

In [9]:
print("\n" + "=" * 60)
print("1. INNER JOIN")
print("=" * 60)

inner_join = pd.merge(employees_df, projects_df, on='employee_id', how='inner')
print("\nВсі працівники, залучені до проектів:")
print(inner_join)

# Фільтр для відділу IT
print("\n" + "-" * 60)
print("Працівники з відділу IT, залучені до проектів:")
print("-" * 60)
inner_join_it = inner_join[inner_join['department'] == 'IT']
print(inner_join_it)

# Збереження результатів
inner_join.to_parquet('inner_join.parquet', index=False)
inner_join_it.to_parquet('inner_join_it.parquet', index=False)
print("\n✓ Результати збережено у inner_join.parquet та inner_join_it.parquet")

============================================================
1. INNER JOIN
============================================================

Всі працівники, залучені до проектів:
   employee_id   name department  project_id project_name
0            1   John         IT         101        Alpha
1            1   John         IT         105      Epsilon
2            2  Alice         HR         102         Beta
3            3    Bob         IT         103        Gamma

------------------------------------------------------------
Працівники з відділу IT, залучені до проектів:
------------------------------------------------------------
   employee_id  name department  project_id project_name
0            1  John         IT         101        Alpha
1            1  John         IT         105      Epsilon
3            3   Bob         IT         103        Gamma

✓ Результати збережено у inner_join.parquet та inner_join_it.parquet

In [10]:
print("\n" + "=" * 60)
print("2. LEFT JOIN")
print("=" * 60)

left_join = pd.merge(employees_df, projects_df, on='employee_id', how='left')
print("\nВсі працівники та їх проекти (якщо є):")
print(left_join)

# Агрегування: кількість працівників у кожному відділі
print("\n" + "-" * 60)
print("Кількість працівників у кожному відділі:")
print("-" * 60)
dept_count = employees_df.groupby('department').size().reset_index(name='employee_count')
print(dept_count)

# Збереження результатів
left_join.to_parquet('left_join.parquet', index=False)
print("\n✓ Результати збережено у left_join.parquet")

============================================================
2. LEFT JOIN
============================================================

Всі працівники та їх проекти (якщо є):
   employee_id     name department  project_id project_name
0            1     John         IT       101.0        Alpha
1            1     John         IT       105.0      Epsilon
2            2    Alice         HR       102.0         Beta
3            3      Bob         IT       103.0        Gamma
4            4  Charlie      Sales         NaN          NaN
5            5    Diana         IT         NaN          NaN
6            6      Eve         HR         NaN          NaN

------------------------------------------------------------
Кількість працівників у кожному відділі:
------------------------------------------------------------
  department  employee_count
0         HR               2
1         IT               3
2      Sales               1

✓ Результати збережено у left_join.parquet

In [11]:
print("\n" + "=" * 60)
print("3. RIGHT JOIN")
print("=" * 60)

right_join = pd.merge(employees_df, projects_df, on='employee_id', how='right')
print("\nВсі проекти та працівники, що до них залучені:")
print(right_join)

# Збереження результатів
right_join.to_parquet('right_join.parquet', index=False)
print("\n✓ Результати збережено у right_join.parquet")

============================================================
3. RIGHT JOIN
============================================================

Всі проекти та працівники, що до них залучені:
   employee_id   name department  project_id project_name
0          1.0   John         IT         101        Alpha
1          2.0  Alice         HR         102         Beta
2          3.0    Bob         IT         103        Gamma
3          NaN    NaN        NaN         104        Delta
4          1.0   John         IT         105      Epsilon

✓ Результати збережено у right_join.parquet

In [12]:
print("\n" + "=" * 60)
print("4. FULL OUTER JOIN")
print("=" * 60)

full_outer_join = pd.merge(employees_df, projects_df, on='employee_id', how='outer')
print("\nВсі працівники та проекти (повне об'єднання):")
print(full_outer_join)

# Збереження результатів
full_outer_join.to_parquet('full_outer_join.parquet', index=False)
print("\n✓ Результати збережено у full_outer_join.parquet")

============================================================
4. FULL OUTER JOIN
============================================================

Всі працівники та проекти (повне об'єднання):
   employee_id     name department  project_id project_name
0          1.0     John         IT       101.0        Alpha
1          1.0     John         IT       105.0      Epsilon
2          2.0    Alice         HR       102.0         Beta
3          3.0      Bob         IT       103.0        Gamma
4          4.0  Charlie      Sales         NaN          NaN
5          5.0    Diana         IT         NaN          NaN
6          6.0      Eve         HR         NaN          NaN
7          NaN      NaN        NaN       104.0        Delta

✓ Результати збережено у full_outer_join.parquet

In [13]:
print("\n" + "=" * 60)
print("5. CROSS JOIN")
print("=" * 60)

# Cross join (декартовий добуток)
employees_df['key'] = 1
projects_df['key'] = 1
cross_join = pd.merge(employees_df, projects_df, on='key', how='outer').drop('key', axis=1)

print("\nДекартовий добуток працівників та проектів:")
print(f"Всього комбінацій: {len(cross_join)}")
print(cross_join.head(15))  # Показуємо перші 15 рядків

# Збереження результатів
cross_join.to_parquet('cross_join.parquet', index=False)
print("\n✓ Результати збережено у cross_join.parquet")

============================================================
5. CROSS JOIN
============================================================

Декартовий добуток працівників та проектів:
Всього комбінацій: 30
    employee_id_x   name department  project_id project_name  employee_id_y
0               1   John         IT         101        Alpha            1.0
1               1   John         IT         102         Beta            2.0
2               1   John         IT         103        Gamma            3.0
3               1   John         IT         104        Delta            NaN
4               1   John         IT         105      Epsilon            1.0
5               2  Alice         HR         101        Alpha            1.0
6               2  Alice         HR         102         Beta            2.0
7               2  Alice         HR         103        Gamma            3.0
8               2  Alice         HR         104        Delta            NaN
9               2  Alice         HR         105      Epsilon            1.0
10              3    Bob         IT         101        Alpha            1.0
11              3    Bob         IT         102         Beta            2.0
12              3    Bob         IT         103        Gamma            3.0
13              3    Bob         IT         104        Delta            NaN
14              3    Bob         IT         105      Epsilon            1.0

✓ Результати збережено у cross_join.parquet

In [14]:
print("\n" + "=" * 60)
print("ПІДСУМОК")
print("=" * 60)

print("\nЗбережені файли:")
print("  - inner_join.parquet")
print("  - inner_join_it.parquet")
print("  - left_join.parquet")
print("  - right_join.parquet")
print("  - full_outer_join.parquet")
print("  - cross_join.parquet")

print("\n✓ Всі завдання виконано успішно!")
print("\nДля завантаження файлів у Colab використайте:")
print("  from google.colab import files")
print("  files.download('inner_join.parquet')")
print("  # та аналогічно для інших файлів")

============================================================
ПІДСУМОК
============================================================

Збережені файли:
  - inner_join.parquet
  - inner_join_it.parquet
  - left_join.parquet
  - right_join.parquet
  - full_outer_join.parquet
  - cross_join.parquet

✓ Всі завдання виконано успішно!

Для завантаження файлів у Colab використайте:
  from google.colab import files
  files.download('inner_join.parquet')
  # та аналогічно для інших файлів